@{
    Layout = null;
}

<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Index</title>
    </head>
    <body>
        Singleton: @ViewBag.Singleton.Key <br>
        Singleton2: @ViewBag.Singleton2.Key <br>
        <hr>
        Transient: @ViewBag.Transient.Key <br>
        Transient2: @ViewBag.Transient2.Key <br>
        <hr>
        Scoped: @ViewBag.Scoped.Key <br>
        Scoped2: @ViewBag.Scoped2.Key <br>
    </body>
</html>

